{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- <div class="row">
    {% for movie in watch_later_movies %}
    <p> {{ movie }} </p>
    {% endfor %}
</div> -->

<ul class="flex-container">
  {% for movie in watch_later_movies %}
  <li class="flex-item containerDetil">
    <h1> {{ movie.title }}  ({{ movie.year }}) </h1>
    <p> {{ movie.genre }} | released on: {{movie.released}}</p>
    <div>
      <div class="col-sm-4">
        <img src={{movie.poster}} alt={{movie.title}}>
      </div>
      <div>
        <p>Directed by: {{movie.director}}</p>
        <p>Written by: {{movie.writer}}</p>
        <br>
        <p>Cast by: {{movie.actors}}</p>
        <br>
        <div class="col-sm-20">
          Plot:
          <br>
          {{ movie.plot }}
        </div> <br>
        <p>Ratings: </p>
        <p> {{ movie.ratings.0.Source }}: {{ movie.ratings.0.Value }} </p>
        <p> {{ movie.ratings.1.Source }}: {{ movie.ratings.1.Value }} </p>
        <p> {{ movie.ratings.2.Source }}: {{ movie.ratings.2.Value }} </p>
        <br>
        <div>Website:
          <a href={{movie.website}}>{{movie.website}}</a>
        </div>
      </div>
    </div>
    <br>
    <div class="box">
        <a href="{% url 'lab-10:add_watched' movie.imdbid %}" class="btn btn-warning"> Watch Now! </a>
    </div>
    <br><br><br>
  </li>
  {% endfor %}
</ul>

{% endblock %}
