#menu {
	width: 100%;
	background: transparent;
	font-weight: 600;
}
/* Each link in the nav menu */

#menu a {
	display: block;
	margin: auto;
	padding: 10px;
	font-size: 5em;
	text-align: center;
	text-decoration: none;
	color:white
}
