#menu {
	width: 100%;
	background: 	#3b5998;
	font-weight: 600;
}
/* Each link in the nav menu */

#menu a {
	display: block;
	margin: auto;
	padding: 10px;
	font-size: 5em;
	text-align: center;
	text-decoration: none;
	color:White
}

body {
    background-color: #dfe3ee;
}

.welcomeText {
	margin-top: 10vh;
	text-align: center;
	font-size: 4em;
	color:black;
}

.login {
	display: inline-block;
    margin-top: 10%;
    margin:auto;
	position: relative;
	width:40%;
    text-transform: uppercase;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 1em;
	background-color: transparent;
	border: 3px solid black;
	box-sizing: border-box;
	padding:0.5em 2em;
	transition: 0.5s;
}

#loginContainer{
    text-align: center;
    margin-top: 10%;
}

#footerMark{
    position: relative;
    margin-top : 20%;
}

.cover{
    position: center;
}

.itemCover{
    text-align: center;
    margin-top: 20px;
}

.profile{
    text-align: center;
}

.posting{
    text-align: center;
}

.feed{
    background-color: white;
    margin-right: 100px;
    width: 100%;
    height: 200px;
    text-align: center;
}

#postInput {
    height: 5em;
    width : 400px;
	flex-basis: 40%;
	margin: 0 1em;
	resize: none;
	border-radius: 4px;
}


