<nav class="navbar navbar-default navbar" style="background-color: white;">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
          <img src="https://vignette.wikia.nocookie.net/glee/images/a/a2/WELCOME.png/revision/latest?cb=20130926182516" width="150rem;">
          <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" style="margin-top: 20px;">
            Logout
          </a>
          <a href="{% url 'lab-9:cookie_login' %}" class="btn btn-default pull-right" style="margin-top: 20px; margin-right: 5px;">
            Masuk Halaman Cookies
          </a>
          <a href="{% url 'lab-9:index' %}" class="btn btn-default pull-right" style="margin-top: 20px; margin-right: 5px;">
            Home
          </a>
      </div>
    </div>
  </nav>
  
