{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }

    h2{
        color : #661426;
        font-family: "Abril+Fatface";
    }
</style>
<div class="center_screen">
    <h2> Hello, this is {{ name }}. </h2>
    <p class="status" id="test">{{ content }}</p>
</div>
{% endblock %}